[submodule "osbook"]
	path = osbook
	url = https://github.com/uchan-nos/mikanos-build
	branch = 8d4882122ec548ef680b6b5a2ae841a0fd4d07a1
[submodule "edk2"]
	path = edk2
	url = ./edk2/
	branch = 38c8be123aced4cc8ad5c7e0da9121a181b94251
