[submodule "osbook"]
	path = osbook
	url = git@github.com:yosswi414/mikanos-build.git
[submodule "edk2"]
	path = edk2
	url = git@github.com:tianocore/edk2.git
	branch = 38c8be123aced4cc8ad5c7e0da9121a181b94251
[submodule "workspace/mikanos"]
	path = workspace/mikanos
	url = git@github.com:yosswi414/mikanos.git
	branch = study-branch
