[submodule "osbook"]
	path = osbook
	url = git@github.com:yosswi414/mikanos-build.git
[submodule "edk2"]
	path = edk2
	url = git@github.com:yosswi414/mikanos-edk2.git
	branch = d6bafe384da40c092b823439f227f6675dde865b
[submodule "workspace/mikanos"]
	path = workspace/mikanos
	url = git@github.com:yosswi414/mikanos.git
	branch = study-branch
